
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




*{  
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: #000000;
    /* border: 0.4px solid red; */
    
    
}

html, body{
    font-family: 'Roboto';
    line-height: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 18px;
    overflow-y: scroll;
}

body.no-scroll {
    overflow: hidden; 
}

.main{
    flex: 1;               
    display: flex;               
    flex-direction: column; 
    /* filter: invert(); */
}

.container{
    margin: 0  auto; 
    /* border: 0.4px solid rgb(192, 33, 240); */
}

h1{
    font-size: 22px;
    font-weight:400;
}

h2{
    font-size: 14pt;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.2rem;
}

p {
    font-size: 12pt;
    font-weight: 400;
}



/* header */
@media {



#header{
    position: sticky;
    top: 0;
    z-index: 99;
}

header {
    width: 100%;
    background-color: white;

}

.nav{
    display: grid;
    grid-template-columns: 1rem 20rem;
    justify-content: space-between; 
    align-items: center;
    padding: 0 0;
    margin: 0 auto;
    max-width: 1200px;
    padding-inline: 1rem;
    height: 3.3rem;
    /* border: 0.4px solid rgb(150, 240, 33); */
}

#yab_logo{
    display: flex;
    width: 10rem;
    /* border: 0.4px solid rgb(192, 33, 240) */
    /* height: 2.2rem; */
}

 #wall, #canvas, #mp4, #publish {
    display: block;
    width: auto; /* Adjust width as needed */
    height: 1.8rem; 
    /* border: 0.4px solid rgb(27, 255, 6); */

  }




.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    /* align-items: center; */
    border: none; /* Remove the border on the menu container */
    margin-left: auto; 
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu li a {
    text-decoration: none;
  }


  



.logo_small{
    display: none;
}

.hamburger{
    display: none;
    cursor: pointer;
    z-index:99999;
}



/*  */

#mp4:hover{
    filter: blur(6px);
    animation-duration: 4s;    
}


.logo:hover {
    animation: flicker 0.1s infinite;
}

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0; /* Flicker effect */
    }
}

}




/* FOOTER */
#footer{
    display: flex;
    align-self: center;
    font-size: 0.8rem;
    color: rgb(87, 87, 87);
    text-align: center;
    margin-top: 0 rem;

    padding-bottom: 1rem;
}

footer div{   
    font-weight: 400;  
}

footer div a{   
    font-weight: 500;  
    text-decoration: none;
}
    
footer div a:hover{
    color: #FC0FC0;
}

.wrapper {
    flex: 1;
}



/* CONTENT CARD */
.box_container {
/* max-width: 600px; */
width: 100%;
margin: 4rem auto;
padding-inline:0.5rem;
display: flex;
flex-direction: column;
gap: 8rem;
/* border: 1px solid rgb(7, 255, 185); */
}
.content_box{

display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: rem;
padding: 0.1rem;
margin-bottom: 4rem;
gap: 1rem;
/* border: 1px solid rgb(244, 255, 32);     */
}
.content_img {  
    /* width: 100%; */
  width: 35rem; 
  max-width: 1000px;
  height: auto;      
  max-height: 80vh; 
  /* overflow: hidden;   */
  /* border: 0.4px solid rgb(119, 0, 255); */
}
.content_img img,
.content_img video{
    width: 100%;
    height: 100%;  
    object-fit:contain;
    /* border: 0.4px solid red; */
}
.description{
    align-self: end;
    width: 100%;
    /* border: 0.4px solid red; */
    max-width: 12rem;
}
.description h2 {
    margin: 0rem auto;
    margin-bottom: 0.2rem;
}

.description p {
    margin: 0rem auto;
    color: #333240;
    /* border: 1px solid rgb(244, 255, 32); */
}

.custom-styled-media {
    border: 0.1px solid rgb(186, 186, 186);
    box-shadow: 0  0 20px  rgb(247, 247, 247);
}





/* VIDEO CARD */
body {
    overflow-x: hidden;
  }
.video_container{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-block: 4rem;
    padding-inline: 1rem;
    margin-inline: auto;
    /* border: 0.4px solid red; */
}
.video{
    margin-inline: auto;   
    /* border: 0.4px solid red; */
}
.video video{
    padding-inline: 1rem;
    width: 100%;    
    max-width: 1200px;
}
.video_id{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 1rem;
}
.video_id h2{
    color: white; 
    font-weight: 400;
}
.video_id p{
    color: white; 
}
/*  */




@media (max-width:600px){



    .nav{
    display: flex;
    height: 2.4rem;
    padding: 1rem;
    }


    .menu {
    display: flex;
    z-index: 9999;
    }

    .video_container{
    padding-inline: 0rem;
    padding-top: 2rem;

    }

    body.active #menu{
    
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%

    
    /* border: 2px solid red; */

    /* z-index: 999999; */
    }

    .menu_container {
    display: none;
    background-color: #ffffff;

    /* position: relative; */
    }

    body.active .menu_container {
        display: flex;
        position:fixed;
        width:100vw;
        height: 100vh;
        left: 0;
        top: 0;

    }

    body.active .menu{
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 2rem;

        /* border: 2px solid red; */

    }

    body.active li {
        /* border: 2px solid   orange; */
        padding-bottom: 2rem;

    }

    #yab_logo{
        width: 7rem;
        padding-bottom: 0.3rem;

    }
    body.active #yab_logo{
        /* display: none; */


    }

    #hamburger{
        display: block;
        width: 3rem;

        -webkit-tap-highlight-color: transparent;  /* Removes tap highlight on iOS */
        -webkit-touch-callout: none;  /* Prevents callout menu on long press */
        user-select: none;  /* Prevents text selection */
        -webkit-user-select: none;  /* For Safari */
        touch-action: manipulation;  /* Optimizes touch behavior */
        /* touch-action:auto;  Optimizes touch behavior */

    }
   


  





    .box_container{
    display: flex;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
    }

    .content_box{
        /* border: 2px solid red; */
        margin-top: 0;
        display: flex;
        flex-direction: column;
        padding-inline: 1rem;
        /* padding: 1rem; */
    }

    .content_img {
        width: 100vw;
       
        /* border: 1px solid rgb(0, 255, 115); */
    }

    .content_img {
        width: 100%;
    }

        .description {
            /* padding-inline: 1rem; */
            font-size: 12px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-self: baseline;
            color: black;

            /* left: 0; */
            /* border: 1px solid blue; */

        }


.description > div:empty {
    display: none; /* Hide empty divs */
}


    
    br{
        display: none;
    }

   .description h2{
    color: #000000;
    font-weight: 500;
    font-size: 12px;


   }
   .description p {
    font-size: 12px;

   }
  
    .description h2, .description p {
    margin: 0rem auto;
    }

    #footer{
    z-index: 99999;
    bottom: 0.5rem;
    }







.lost div h1{
    font-size: 6rem;
    font-weight: 600;
    margin-bottom:  3rem;

}

.lost div p{
    margin-bottom: 20%;
    width: 70%;
    text-align: center;
    margin-inline: auto;

}

.lost #dog img{
    width: 60vw;

}



.main_lost {
    width: 100%;
    border: 2px solid orange;
    display: flex;

}

#dog img{

    /* max-width: auto; 
    /* width: 2rem; */
}


}






/* 404 */


.lost{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;


}


.lost p{
    font-size: 1rem;
    margin-bottom: 7rem;
}

#dog img{
    width: 20rem;
    height: auto;
}




.lost h1 {
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 2rem;
    letter-spacing: 0rem;
    font-size: 2rem; 
}

.lost p {
    font-size: 1rem;
    margin-bottom: 7rem;
    font-size: 0.8rem;
}

.lost p a{
    color: #FC0FC0;
}

#dog img {
    /* width: 10rem; */
    height: auto;
}




/* BUG */
#bug{
    display: none;

    width: 80%;
    top: 0;
    position:fixed ;
    z-index: 99999;
    left: -8rem;
    pointer-events: none;  
    mix-blend-mode: multiply; 
    }
#bug img{
    width: 100%;
    max-width: 1000px;

    
}
#bug {
    
}

.lost div h1{
    font-size:8rem;
    font-weight: 600;
    margin-bottom:  4rem;

}


/* LOADER */
.loader_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;

}
.loader{
    display: flex;
    margin-inline: auto;
}   

.loader img{
    width:4rem;
    height: auto;
    align-self: center;
    justify-self: center;
}

#style_png {
    width: 100%;
    

}


#hamburger{
    
    /* display: flexbox; */

}





.smoker {
    position: absolute;  
    margin-top: 20vh;
    height: 50vh;
    width: auto;
    left: -4rem;
    justify-content: center;
    align-items: center;
    /* transform-origin: center center;  */
}




.smoker_image{
    /* position: absolute; */
    /* z-index: 100;    */
}

.smoker_image img{

    width: 80%; 
    /* height: 30rem;    */
}





#eye_socket_1{
    position: absolute;
    /* border: 0.1px solid red; */

    height: 3.1%;
    width: 7.2%;

    bottom: 66%;
    left: 18%;
    border-radius: 60%;
    transform: rotate(-27deg);
    display: flex;
    align-items: center;
    justify-content: center;
}




#eye_socket_2{
    position: absolute;
    /* border: 0.1px solid red; */
    height: 2.5%;
    width: 6.5%;   
    bottom: 79%;
    left: 38%;
    border-radius: 50%;
    transform: rotate(-22deg);
    display: flex;
    align-items: center;
    justify-content: center;

}



#eye_1, #eye_2 {
    display: none;
    position: relative;
    z-index: -1; 
    width:40%;
    height: auto;
}

#eye_1 img, #eye_2 img {
    z-index: -1; 
}



.yabanci_info {
    position: relative;
    top: 7rem;
    margin-left: 20rem;
}

.yabanci_info h1 { 
    
}
