
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




*{  
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: #000000;
    /* border: 0.4px solid red; */
    
    
}

html, body{
    font-family: 'Roboto';
    line-height: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 18px;
    /* overflow-y: scroll; */
    width:100%;


}

body.no-scroll {
    overflow: hidden; 
}

.main{         
    display: flex;               
    flex-direction: column; 
    height: 100vh;

    /* filter: invert(); */
    
}

.container{
    height: 100%;
    margin: 0  0; 
    flex: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /* max-height: 100vh; */
}

h1{
    font-size: 22px;
    font-weight:400;
}

h2{
    font-size: 14pt;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.2rem;
}

p {
    font-size: 12pt;
    font-weight: 400;
}



/* header */
@media {

#walking_guy{
    display: none;
}

#header{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    /* height: 4rem; */
    /* border: 2px solid rgb(47, 11, 252); */
    transition: top 0.3s ease, 0.3s ease; /* Smooth transition for hiding and blur */


    
}

/* #header.blur {
    filter: blur(5px);
} */

header {

width: 100vw;
background-color: white;
border-bottom: 0.4px solid rgb(233, 233, 233);
}

.nav{
display: grid;
grid-template-columns: 1rem 20rem;
justify-content: space-between; 
align-items: center;
margin: 0 auto;
max-width: 1200px;
padding-inline: 0.5rem;
height: 3.7rem;
}

#yab_logo{
display: grid;
width: 8rem;

/* padding-top: 0.2rem; */
/* border: 0.4px solid rgb(192, 33, 240); */
/* height: 2.2rem; */
}

.menu {
position: relative;
display: flex;
justify-content: space-between;
gap: 0.8rem;
/* align-items: center; */
border: none; /* Remove the border on the menu container */
margin-left: auto; 
padding-right: 0.7rem;
/* border: 0.4px solid rgb(27, 255, 6); */
}
  

#wall, #works, #mp4, #publish, #shop{
display: grid;
/* width: auto; */
/* height:25px;  */
/* padding-top: 0.4rem; */
margin: 0;
}





  .menu li {
list-style: none;
  }
  
  .menu li a {
    text-decoration: none;
  }


.hamburger{
    display: none;
    cursor: pointer;
    z-index:99999;
}



/*  */

#mp4:hover{
    /* filter: blur(6px); */
    animation-duration: 4s;    
}



}




/* FOOTER */
#footer{
    display: flex;
    align-self: center;
    font-size: 0.8rem;
    color: rgb(87, 87, 87);
    text-align: center;
    margin-top: 0 rem;
    z-index: 99;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    bottom: 0;
}

footer div{   
    font-weight: 400;  
}

footer div a{   
    font-weight: 500;  
    text-decoration: none;
}
    
footer div a:hover{
    color: #FC0FC0;
}



/* CONTENT CARD */
.box_container {
/* max-width: 600px; */
width: 100%;
margin:8rem auto;
padding-inline:0.5rem;
display: flex;
flex-direction: column;
gap: 8rem;

/* border: 1px solid rgb(7, 255, 185); */
}
.content_box{

display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: rem;
padding: 0.1rem;
margin-bottom: 4rem;
gap: 1rem;
/* border: 1px solid rgb(244, 255, 32);     */
}
.content_img {  
    /* width: 100%; */
  width: 35rem; 
  max-width: 1000px;
  height: auto;      
  max-height: 80vh; 
  /* overflow: hidden;   */
  /* border: 0.4px solid rgb(119, 0, 255); */
}
.content_img img,
.content_img video{
    width: 100%;
    height: 100%;  
    object-fit:contain;
    /* border: 0.4px solid red; */
}
.description{
    align-self: end;
    width: 100%;
    /* border: 0.4px solid red; */
    max-width: 12rem;
}
.description h2 {
    margin: 0rem auto;
    margin-bottom: 0.2rem;
}

.description p {
    margin: 0rem auto;
    color: #333240;
    /* border: 1px solid rgb(244, 255, 32); */
}

.custom-styled-media {
    border: 0.1px solid rgb(186, 186, 186);
    box-shadow: 0  0 20px  rgb(247, 247, 247);
}





/* VIDEO CARD */
/* body {
    overflow-x: hidden;
  } */

.video_section{
    padding-top: 4rem;
    background-color: black;
}


.video_container{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    /* padding-block: 3rem; */
    padding-inline: 1rem;
    margin-inline: auto;
    /* border: 0.4px solid red; */

}
.video{
    margin-inline: auto;   
    margin-top: 2rem;
    margin-bottom: 3rem;
    /* border: 0.4px solid red; */
}
.video video{
    padding-inline: 1rem;
    width: 100%;    
    max-width: 1200px;
}
.video_id{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 1rem;
}
.video_id h2{
    color: white; 
    font-weight: 400;
}
.video_id p{
    color: white; 
}
/*  */







/* 404 */


.lost{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;


}


.lost p{
    font-size: 1rem;
    margin-bottom: 7rem;
}

#dog img{
    width: 20rem;
    height: auto;
}




.lost h1 {
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 2rem;
    letter-spacing: 0rem;
    font-size: 2rem; 
}

.lost p {
    font-size: 1rem;
    margin-bottom: 7rem;
    font-size: 0.8rem;
}

.lost p a{
    color: #FC0FC0;
}

#dog img {
    /* width: 10rem; */
    height: auto;
}




/* BUG */
#bug{
    display: none;

    width: 80%;
    top: 0;
    position:fixed ;
    z-index: 99999;
    left: -8rem;
    pointer-events: none;  
    mix-blend-mode: multiply; 
    }
#bug img{
    width: 100%;
    max-width: 1000px;

    
}
#bug {
    
}

.lost div h1{
    font-size:8rem;
    font-weight: 600;
    margin-bottom:  4rem;

}


/* LOADER */
.loader_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9999999;

}
.loader{
    display: flex;
    margin-inline: auto;
}   

.loader img{
    width:4rem;
    height: auto;
    align-self: center;
    justify-self: center;
}

#style_png {
    width: 100%;
}

#hamburger{
/* display: flexbox; */
}

.smoker {
    position: relative;  
    margin-top: 18vh;
    width: 50rem;
    /* height: 50rem; */
    /* width: auto; *
    /* /* justify-content: center; */
    align-items: center;
    justify-self: center;
    /* border: 2px solid red; */
    /* left: -8rem; */
    left: 5vw;
}

.smoker_image{
    position: relative;
    width: 100%;
    pointer-events: none;
    /* z-index: 100;    */
}

.smoker_image img{
    width: 100%; 
}

#eye_socket_1{
    position: absolute;
    /* border: 0.1px solid red; */
    height: 0.7%;
    width:  8.5%;
    bottom: 72%;
    left: 17.5%;
    border-radius: 60%;
    transform: rotate(-27deg);
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 9999; */
}

#eye_socket_2{
    position: absolute;
    /* border: 0.1px solid red; */
    height: 0.8%;
    width: 8%;   
    bottom: 83%;
    left: 37%;
    border-radius: 50%;
    transform: rotate(-22deg);
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 9999; */
}

#eye_1, #eye_2 {
    /* display: none; */
    position: relative;
    z-index: -1; 
    width:40%;
    height: auto;
}

.yabanci_info {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    z-index: 9999;
    margin-top: 8vh;
    width: 100%;
    /* padding-left: 15vw; */
}

.yabanci_info h1 { 
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin-bottom: 0.8rem;
    text-align: center;    
}

.yabanci_info a { 
    text-align: center;
    text-decoration: none;
}

.yabanci_info a:hover{ 
    color: #FC0FC0;
}



/* PUBLISH */

.publish_card{
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    margin-top: 6rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 2px solid red; */
    padding-left: 40vw;

}


.publish_card img{

    width: 100%;
    max-width: 16rem;
    /* border: 0.1px solid rgb(135, 135, 135); */
}

.publish_description {
    width: 100%;
    max-width: 18rem;
    padding-inline: 1rem;
    /* border: 2px solid blue; */
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 80% 1fr; */

}


.publish_text {
    width: 100%;
    max-width: 20rem;
    /* border: 2px solid red; */
    /* display: flex; */
    

}

.publish_text h2, .publish_text p {
    line-height: 0.5rem;
}



.download_button {
    /* height: 100%; */
    width: 1.5rem;

    place-self: center;

}















@media (max-width:765px) {

.box_container{
display: flex;
width: 100%;
margin-top:5rem;
gap: 1rem;
}


.content_box{
margin-top: 0;
display: flex;
flex-direction: column;
/* padding-inline: 1rem; */
/* padding: 1rem; */
}

.content_img {
width: 100vw;
/* border: 1px solid rgb(0, 255, 115); */
}

.content_img {
width: 100%;
}

.empty{
    /* border: 1px solid rgb(0, 255, 115); */
    display: none;
}

.description {
/* padding-inline: 1rem; */
position: relative;
margin-left: 0;
margin-right: auto;
width:100%;
font-size: 12px;
color: black;
/* left: 0; */
/* border: 1px solid blue; */
}
    
br{
    display: none;/
}

.description h2{
color: #000000;
font-weight: 500;
width: 100%;
}
.description p {
/* font-size: 12px; */
}

.description h2, .description p {
margin: 0rem auto;
}
    
    
}



@media (max-width:600px){

.header{
    padding-inline: 2rem;
}
.nav{
display: flex;
height: 2.4rem;
padding: 1rem;
padding-block: 1.8rem;
}


.menu {
display: flex;
z-index: 9999;

}







.video_container{
padding-inline: 0rem;
padding-top: 2rem;
}

body.active {
    height: 100%;
    overflow-y: hidden;
}

body.active #menu{    
display: flex;
flex-direction: column;    
margin: 0;
padding: 0;
height: 100%;
width: 100%;
gap: 0rem;

/* border: 2px solid pink; */

}

#walking_guy{
    display: block;
    position: absolute;
    width: 1000%;
    height: 100%;
    /* border: 2px solid  #000000; */
}

#walking_guy img{   
    position: absolute;
    width: 7rem;
    left: 20;
    bottom: 0;
    animation: walk 35s linear infinite;   
    /* overflow: hidden;  */
}

@keyframes walk {
    from {
        left: -10%;
    }
    to {
        left: 110%;
    }
}

.menu_container {
display: none;
background-color: #ffffff;
z-index: 100;
/* position: relative; */
}

body.active .menu_container {
display: flex;
position:fixed;
width:100vw;
height: 100vh;
left: 0;
top: 0;
/* background-color: #be0f0f; */

}

body.active .menu{
align-items: center;
justify-content: center;
display: flex;
gap: 2rem;
}

body.active li {
/* border: 2px solid orange; */
padding-bottom: 2rem;
}

#yab_logo{
max-width: 13rem;
/* width: 50%; */
/* width: 7rem; */
padding-bottom: 0.3rem;
}


#hamburger{
display: block;
width: 3rem;
  /* Optimizes touch behavior */
/* touch-action:auto;  Optimizes touch behavior */
}

#hamburger, #yab_logo, #wall, #works, #mp4, #publish, #shop{
-webkit-tap-highlight-color: transparent;  /* Removes tap highlight on iOS */
-webkit-touch-callout: none;  /* Prevents callout menu on long press */
user-select: none;  /* Prevents text selection */
-webkit-user-select: none;  /* For Safari */
touch-action: manipulation; /* Optimizes touch behavior */
/* touch-action:auto;  Optimizes touch behavior */
}



#footer{
z-index: 1;
bottom: 0.5rem;
}

#bug {
width: 100%;
}

.lost div h1{
font-size: 6rem;
font-weight: 600;
margin-bottom:  3rem;
}

.lost div p{
margin-bottom: 20%;
width: 70%;
text-align: center;
margin-inline: auto;
}

.lost #dog img{
width: 60vw;
}

.main_lost {
width: 100%;
border: 2px solid orange;
display: flex;
}

#dog img{
/* max-width: auto; 
/* width: 2rem; */
}

.menu {
position: relative;
display: flex;
justify-content: space-between;
gap: 0.4rem;
border: none; 
margin-left: auto; 
padding-right: 0.7rem;
}

#wall, #works, #mp4, #publish, #shop{
height: 2rem;
}

.smoker {
/* border: 2px solid  #FC0FC0; */
position: relative;  
padding: 0;
/* width: 30rem; */
max-width: 150vw;
/* left: -4.5rem; */
margin: 0;
margin-top: 30vh;
}

.yabanci_info {
color: #000000;
position: absolute;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
text-decoration: none;
z-index: 1;
width: 100%;
padding-inline: 2rem;
margin-top: 20vh;
}

.yabanci_info h1 {
font-size: 2rem;
line-height: 2rem;
margin-bottom: 2rem;
}

}


